# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Production Builds
dist/

# Environment Variables
.env
.env.*
*.local

# System & Editor Files
.DS_Store
.idea/
.vscode/
!.vscode/extensions.json

# Cloud Deployments
.vercel/

# Runtime Uploads
backend/uploads/*
!backend/uploads/.gitkeep

